.visible {
    display:flex
}

.hidden {
    display: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

#start-screen {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#question-screen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

#end-screen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
